<nav class=" navbar-lit bg-faded navbar-style navbar-color-head row fixed-top">
	<div class="col-4 text-center navbar-menu">
		<a class="col-4 text-center navbar-color-text" href="/">HOME</a>
		<a class="col-4 text-center navbar-color-text" href="/product/type=0">PRODUCTS</a>
		<a class="col-4 text-center navbar-color-text" href="/about">ABOUT US</a>
	</div>
	<div class="col-4 text-center">
		<a href="/">
			<%= image_tag("navbar_logo.png") %>
		</a>
	</div>
	<div class="col-4 text-center navbar-menu">
		<a class="col-4 text-center navbar-color-text i-search" href="#" id="search-button">
			<i class="fa fa-search" aria-hidden="true"></i>			
		</a>
		<a class="col-4 text-center navbar-color-text" href="/user/login" id="login">LOGIN</a>
	</div>
	
</nav>
<div>asd</div>