<nav class=" navbar-lit bg-faded navbar-style navbar-color-head row fixed-top hidden-md-down">
	<div class="col-4 text-center navbar-menu">
		<a class="col-4 text-center navbar-color-text" href="/">HOME</a>
		<a class="col-4 text-center navbar-color-text" href="/product/type=0">PRODUCTS</a>
		<a class="col-4 text-center navbar-color-text" href="/about">ABOUT US</a>
	</div>
	<div class="col-4 text-center">
		<a href="/">
			<%= image_tag("navbar_logo.png") %>
		</a>
	</div>
	<div class="col-4 text-center navbar-menu">
		<a class="col-4 text-center navbar-color-text i-search" href="#" id="search-button">
			<i class="fa fa-search" aria-hidden="true"></i>			
		</a>
		<a class="col-4 text-center navbar-color-text" href="/user/login" id="login">LOGIN</a>
	</div>
</nav>
<div class="pos-f-t hidden-lg-up">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-inverse p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-inverse bg-inverse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>