<nav class=" navbar-lit bg-faded navbar-style navbar-color-head row fixed-top hidden-md-down">
	<div class="col-4 text-center navbar-menu">
		<a class="col-4 text-center navbar-color-text" href="/">HOME</a>
		<a class="col-4 text-center navbar-color-text" href="/product/type=0">PRODUCTS</a>
		<a class="col-4 text-center navbar-color-text" href="/about">ABOUT US</a>
	</div>
	<div class="col-4 text-center">
		<a href="/">
			<%= image_tag("navbar_logo.png") %>
		</a>
	</div>
	<div class="col-4 text-center navbar-menu">
		<a class="col-4 text-center navbar-color-text i-search" href="#" id="search-button">
			<i class="fa fa-search" aria-hidden="true"></i>			
		</a>
		<a class="col-4 text-center navbar-color-text" href="/user/login" id="login">LOGIN</a>
	</div>
</nav>
<div class="pos-f-t hidden-lg-up">
  <nav class="navbar navbar-inverse bg-inverse navbar-style">
		<div class="row">
			<a href="/" class="col-6">
				<%= image_tag("navbar_logo.png", :class => "") %>
			</a>
			<a class="navbar-color-text i-search col-5 text-right navbar-menu" href="#" id="search-button">
				<i class="fa fa-search" aria-hidden="true"></i>			
			</a>
			<button class="navbar-toggler navbar-menu" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
  </nav>
	<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-inverse p-4">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link text-center navbar-color-text" href="/">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-center navbar-color-text" href="/product/type=0">PRODUCTS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-center navbar-color-text" href="/about">ABOUT US</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-center navbar-color-text" href="/user/login" id="login">LOGIN</a>
				</li>
			</ul>
    </div>
  </div>
</div>