<a class="navbar-color-text i-search col-5 text-right navbar-menu" href="#" id="search-button">
	<i class="fa fa-search" aria-hidden="true"></i>			
</a>
<div class="wrap" id="search-input" style="display:none;">
	<div class="search">
		<form action="" method="post">
			<input type="text" class="searchTerm" placeholder="Search" name="search_input">
			<button type="button" class="searchButton" id="close-search">
			 <i class="fa fa-arrow-left" aria-hidden="true"></i>
			</button>
			<input type="submit" hidden>
		</form>
	</div>
</div>