@import "./landing";
@import './navbar';
@import './footer';
@import './login';
@import './products';
@import './detail';
@import './register';
@import './history';
@import './checkout';
@import './about';
@import './cart';
@import './search';

html, body {
height: 100%;
margin: 0;
background-color: white; 
}
.content{
min-height: 100%;
}
.dropdown-menu{
min-width: 10rem;
padding: .5rem .5rem;
}
a.dropdown-page{
color : black;
}
.btn-light{
color: #111;
background-color: white;
border-color: white;
font-size: 20px;
}
.btn-light:hover{
color: #111;
background-color: #e2e6ea;
border-color: #dae0e5
}
.btn-light-active{
border: solid 1px;
border-radius: 0px;
}

