.wrap{
  width: 70%;
  position: absolute;
	margin-top: 4%;
	margin-left: 15%;
	transform: translate(-50%, -50%);
	.search {
		width: 100%;
		.searchTerm {
			float: left;
			width: 100%;
			border: 3px solid #888;
			padding: 5px;
			height: 36px;
			border-radius: 5px 0 0 5px;
			outline: none;
			color: #888;
		}
		
		.searchTerm:focus{
			color: #888;
		}
		
		.searchButton {
			position: absolute;  
			width: 40px;
			height: 36px;
			border: .5px solid #888;
			background: #888;
			text-align: center;
			color: #fff;
			border-radius: 0 5px 5px 0;
			cursor: pointer;
			font-size: 20px;
		}
		
	}
}